# Ignore everything in the entire repository
*

# But don't ignore the .gitignore file itself
!.gitignore

# Re-include the Assets folder and all its contents
!/Assets/
!/Assets/**/*

Assets/Scenes
Assets/Settings
Assets/InputSystem_Actions.inputactions

# Re-include the ProjectSettings folder and all its contents
!/ProjectSettings/
!/ProjectSettings/**/*

# Now, specifically re-include C# files and their .meta files
# This is a bit redundant after re-including the whole folder, but it's good practice
# for more complex scenarios where you might be more selective.
!/Assets/**/*.cs
!/Assets/**/*.cs.meta