# Ignore everything in the entire repository
*

# But don't ignore the .gitignore file itself
!.gitignore

# Re-include the Assets folder and all its contents
!/Assets/
!/Assets/**/*

Assets/Scenes
Assets/Scenes.*
Assets/Scripts.*
Assets/Settings
Assets/Settings.*
Assets/New Terrain.*
Assets/InputSystem_Actions.inputactions.*
Assets/InputSystem_Actions.inputactions